# Node.js and npm
node_modules/
npm-debug.log
yarn-error.log

# TypeScript build output
dist/

# Logs
*.log

# Environment variables
.env

# macOS system files
.DS_Store

# IDE-specific files
.vscode/
.idea/

# Compiled files
*.js
*.map
